@font-face {
  font-family: 'Press Start 2P';
  src: url('./src/PressStart2P-Regular.ttf') format('truetype');
  font-display: block;
}

body,
html,
:root {
  margin: 0;
  background: #2185d0;
  touch-action: none;
  height: 100lvh;
}

/* https://github.com/nostalgic-css/NES.css/issues/509#issuecomment-2394798028 */
@media (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
  .nes-btn {
    border-image-repeat: stretch;
  }
}

#container {
  width: 100lvw;
  display: grid;
  place-items: center;
}

.turn-btn {
  position: absolute;
  inset: 0;
  opacity: 0;
  border: none;
  padding: 0;
}

#left {
  right: 50%;
}
#right {
  left: 50%;
}

@media not (pointer: coarse) {
  .turn-btn {
    display: none;
  }
}

.nes-btn img {
  image-rendering: pixelated;
  width: 32px;
  height: 32px;
}

#game-btns {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 8px;

  display: flex;
  gap: 8px;
}

#mute.muted img:not([data-mute]) {
  display: none;
}
#mute:not(.muted) img[data-mute] {
  display: none;
}

.hidden {
  display: none;
}
