@font-face {
  font-family: 'Press Start 2P';
  src: url('./src/PressStart2P-Regular.ttf') format('truetype');
  font-display: block;
}

body,
html,
:root {
  margin: 0;
  background: #4b5a76;
  touch-action: none;
  overscroll-behavior: none;
  height: 100lvh;
}

/* https://github.com/nostalgic-css/NES.css/issues/509#issuecomment-2394798028 */
@media (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
  .nes-btn {
    border-image-repeat: stretch;
  }
}

#container {
  position: absolute;
  bottom: 0;

  width: 100lvw;
  height: 100lvh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

@media (min-width: 600px) and (max-width: 800px) {
  #container {
    height: calc(100lvh - 70px);
  }
}

@media (min-width: 325px) and (max-width: 600px) {
  #container {
    height: calc(100lvh - 120px);
  }
}

@media (max-width: 600px) {
  #game-container {
    flex-direction: column-reverse;
    align-items: flex-end;
  }
}

.turn-btn {
  position: absolute;
  inset: 0;
  opacity: 0;
  border: none;
  padding: 0;
}

#left {
  right: 50%;
}
#right {
  left: 50%;
}

@media (pointer: coarse) {
  .no-touch {
    display: none;
  }
}

@media not (pointer: coarse) {
  .touch {
    display: none;
  }
}

.nes-btn img {
  image-rendering: pixelated;
  width: 32px;
  height: 32px;
}

#game-container {
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px;

  display: flex;
  gap: 8px;
}

#volume-container {
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px;

  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media (min-width: 1000px) {
  #game-container {
    right: calc(50lvw - 500px);
  }
  #volume-container {
    left: calc(50lvw - 500px);
  }
}

#mutes {
  display: flex;
  gap: 32px;
}
label {
  margin: 0;
}
label[for='volume-input'] {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  color: white;
}
#volume {
  display: grid;
  grid-template-areas: 'overlap';
}
#volume > * {
  grid-area: overlap;
}

#volume-container .nes-checkbox {
  margin-left: 8px;
}
#volume > * {
  grid-area: volume;
  height: 1.25em;
  width: 140px;
}

#volume-input {
  appearance: none;
  opacity: 0;
}

.outline-text {
  color: white;
  -webkit-text-stroke: 0.2em black;
  paint-order: stroke fill;
}

#timer {
  display: flex;
  align-items: center;
  font-size: 2em;
}

#tutorial {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  width: 90lvw;
  max-width: 600px;

  position: absolute;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
}

#tutorial h1 {
  color: #8b1a1a;
  -webkit-text-stroke: 0.15em white;
  paint-order: stroke fill;
}

#tutorial > * {
  margin: 0;
  color: white;
}

#tutorial img {
  background: #cfe7f7;
  image-rendering: pixelated;
  padding: 5%;
  padding-top: 0;
}

.hidden {
  display: none !important;
}

#leaderboard-container {
  top: 80px;
  max-height: calc(95lvh - 80px);
  overflow-x: visible;
  overflow-y: auto;
  scrollbar-width: none;
}
#leaderboard-container form button {
  margin-top: 8px;
}

/* Numeric */
#leaderboard td:nth-child(1),
#leaderboard td:nth-child(3) {
  text-align: right;
}

/* Name */
#leaderboard td:nth-child(2) > span {
  max-width: min(30lvw, 500px);

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
